body {
    cursor: url(/img/Deepin/Arrow.cur),
      auto;
}
a {
    cursor: url(/img/Deepin/Hand.cur),
      default;
}
img {
    cursor: url(/img/Deepin/Hand2.cur),
      default;
}
p,
li,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
text,
textPath,
textarea {
    cursor: url(/img/Deepin/IBeam.cur),
    default;
}